name: Post Releases to Discord

on:
  release:
    types: [published]

jobs:
  post-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.19.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          mentions: "<@&1435531334390120448> <@&1435531444138152076>"
